.contacts {
  width: 10%;

  &__item {
    line-height: 20px;
    &:last-of-type {
    margin-top: 20px;
    }
  }

  &__item-name {
    font-size: 12px;
    line-height: 24px;
  }

  &__item-value {
    font-size: 12px;
    line-height: 24px;
    &_link {
      text-decoration: none;
      color: @font-white;
    }
  }
}

@media (max-width: 1600px) {
  .contacts {
    width: 16%;
  }
}

@media (max-width: 735px) {
  .contacts {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
