.info {
  box-sizing: border-box;
  width: 69%;
  margin-top: 33px;
  padding-left: 6.5%;
  padding-bottom: 72px;
  border-left: 1px solid #eaeaea;

  &__title {
    margin: 0 0 20px 0;
  
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: @font-red;
  }

  &__text {
    font-family: Arial, sans-serif;
    letter-spacing: 0.1px;
    color: @font-grey;
  }
}

@media (max-width: 735px) {
  .info {
    width: 100%;
    padding-left: 0;
    border-left: none;
  }
  .info__title {
    line-height: 40px;
  }
}
